#admin_nav
  %h2
    Pages
    %ul
      %li= link_to 'User Search', user_search_path
      %li= link_to 'Weekly User Stats', weekly_user_stats_path
      %li= link_to 'Pod Stats', pod_stats_path
      %li= link_to 'Correlations', correlations_path
      - if AppConfig[:mount_resque_web]
        %li= link_to 'Resque Overview', resque_web_path
      %li= link_to 'Review Articles', review_magazine_articles_path
      %li= link_to 'New Article', new_magazine_article_path
      %li= link_to 'Admins', users_list_path

