-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:id => "person-#{person.id}"}
  .right
    - if person == current_user.person
      = t('people.person.thats_you')
    - else
      - contact = current_user.find_or_build_contact_by_person_id(person.id)
      = aspect_membership_dropdown(contact, person, 'left')

  = person_image_link(person)

  .content
    %span.from
      =person_link(person)

    .info
      = Diaspora::Taggable.format_tags(person.profile.tag_string)
