= form_for(@destination, :html => {:class => 'new_place_for'}, :validate => true) do |f|
  %fieldset
    .clearfix
    
      %b
        = t('destinations.title')
      = f.text_field :title
      %b
        = t('destinations.summary')
      = f.text_area :summary
      %b
        = t('destinations.tag_list')
      = f.text_field :tag_list, :rows => 5
      %b
        = t('destinations.respond_to_these_tags')
      = f.text_field :name_list, :rows => 5
      %b
        = t('destinations.photo_url')
      = f.text_field :photo_url

  .submit_field
    = f.submit t('destinations.submit'), :class => 'in_aspects'
