%h1 Destinations

= form_tag("/d/search", :method => "get") do
  = label_tag(:q, "Search for:")
  = text_field_tag(:q, params[:q])
  = submit_tag("Search")

%ul
  -@destinations.each do |destination|
    %li
      = link_to destination.title, destination_path(destination)
    %li
      = destination.summary


- if current_user && current_user.admin?
  = link_to t('.new') , new_destination_path

