= javascript_include_tag "validation"
= javascript_include_tag 'vendor/jquery.ghostInput'

- content_for :head do
  :javascript
    $(document).ready(function () {
      var autocompleteInput = $("#destination_tag_list");

      autocompleteInput.autoSuggest("#{tags_path}", {
        selectedItemProp: "name",
        searchObjProps: "name",
        asHtmlID: "tags",
        neverSubmit: true,
        retriveLimit: 10,
        minChars: 2,
        keyDelay: 200,
        startText: "",
        emptyText: "#{t('no_results')}",
        });

      autocompleteInput.bind('keydown', function(evt){
        if(evt.keyCode == 13 || evt.keyCode == 9 || evt.keyCode == 32){
          evt.preventDefault();
          if( $('li.as-result-item.active').length == 0 ){
            $('li.as-result-item').first().click();
          }
        }
      });
    });


.span-7.append-1.prepend-3
  %br
  %br
  %br
  %br
  %h1
  - flash.each do |name, msg|
    %p{:class => "login_#{name}"}= msg


.span-10
  %br
  %br
  %br
  %br

  = render 'form'
