.span-7.append-1.prepend-3
  %br
  %br
  %br
  %br
  %h1
  - flash.each do |name, msg|
    %p{:class => "login_#{name}"}= msg


.span-10
  %br
  %br
  %br
  %br
  = form_for(@destination, :html => {:class => 'new_place_for'}, :validate => true) do |f|
    %fieldset
      .clearfix
      
        %b
          = t('.title')
        = f.text_field :title
        %b
          = t('.summary')
        = f.text_field :summary, :rows => 5
        %b
          = t('.permalink')
        = f.text_area :permalink
        %b
          = t('.photo_url')
        = f.text_field :photo_url

    .submit_field
      = f.submit t('.submit'), :class => 'in_aspects'
