.span-7.append-1.prepend-3
  %br
  %br
  %br
  %br
  %h1
    = t('welcome')
  %h3.accept_invitation_text
    = t('.sign_up_message')
  - flash.each do |name, msg|
    %p{:class => "login_#{name}"}= msg

  = image_tag 'diaspora_collage.png', :style => "margin-left:-50px;"

.span-10
  %br
  %br
  %br
  %br
  = form_for(@destination, :html => {:class => 'new_place_for'}, :validate => true) do |f|
    %fieldset
      .clearfix
      
        %b
          = t('destinations.title')
        = f.text_field :title
        %b
          = t('destination.summary')
        = f.text_field :summary, :rows => 5
        %b
          = t('destinations.permalink')
        = f.text_area :permalink
        %b
          = t('destinations.photo_url')
        = f.text_field :photo_url

    .submit_field
      = f.submit t('destinations.new.submit'), :class => 'in_aspects'
