.plans
  = form_for plan do |f|
    - if plan.errors.any?
      .error_messages
        %h2
          = pluralize(plan.errors.count, "error")
          prohibited this plan from being saved:
        %ul
          - plan.errors.full_messages.each do |msg|
            %li= msg
    %table
      %tr
        %td= f.label 'Stripe ID'
        %td= f.text_field :stripe_id
      %tr
        %td= f.label :name
        %td= f.text_field :name
      %tr
        %td= label_tag 'Amount (in cents)'
        %td= f.text_field :amount
      %tr
        %td= f.label :interval
        %td= f.text_field :interval
      %tr
        %td= f.label :currency
        %td= f.text_field :currency

    = f.submit
