= include_javascripts :plans

%h2= 'Plans'
%br
%br
- @plans.each do |plan|
  .plans
    %table
      %tr
        %td= 'Stripe ID'
        %td= plan.stripe_id
      %tr
        %td= 'Name'
        %td= plan.name
      %tr
        %td= 'Amount'
        %td= number_to_currency(plan.amount / 100, :currrency => '$')
      %tr
        %td= 'Interval'
        %td= plan.interval
      %tr
        %td= 'Currency'
        %td= plan.currency
  %hr

= link_to 'New plan', new_plan_path

