- content_for :head do
  = include_javascripts :places
  :javascript
    $(document).ready(function () {
      var autocompleteInput = $("#place_tag_list");

      autocompleteInput.autoSuggest('#{tags_path}/', {
        asHtmlID: "tags",
        neverSubmit: true,
        retriveLimit: 10,
        minChars: 2,
        keyDelay: 200,
        startText: "",
        emptyText: "no_results",
        preFill: "#{@tags_array}"
        });

    });



= form_for @place, place_path(@place) do |f|

  = f.fields_for :description do |d|
    %b
      = t('places.title')
    = d.text_field :title
    %b
      = t('places.tag_list')
    = f.text_field :tag_list
    %b
      = t('places.summary')
    = d.text_area :summary, :rows => 5
    %b
      = t('places.location')
    = d.text_field :location

    %b
      = t('places.address')
    = d.text_area :address, :rows => 5

    %b
      = t('places.phone')
    = d.text_field :phone

    %b
      = t('places.website')
    = d.text_field :website

    %b
      = t('places.image_url')
    = d.text_field :image_url

  .submit_field
    = f.submit t('places.edit.submit'), :class => 'in_aspects'
