%h1 Places

= form_tag("/places/search", :method => "get") do
  = label_tag(:q, "Search for:")
  = text_field_tag(:q)
  = submit_tag("Search")

%ul
  -@places.each do |place|
    %li
      = link_to place.title, place_path(place)

