.container
  %ul#footer_nav
    %li= link_to image_tag('icons/twitter.png'), 'http://twitter.com/#/GayTravelAdvice', :target => '_blank'
    %li= link_to image_tag('icons/facebook.png'), 'http://www.Facebook.com/GayTravelBuddy', :target => '_blank'
    %li= link_to 'Home', '/'
    %li= link_to 'Magazine', "/m"
    %li= link_to 'Establishments', places_path
    %li= link_to 'Destinations', destinations_path
    %li= link_to 'Contact Us', '/pages/contact'
    %li= link_to 'Privacy Policy', '/pages/privacy_policy'
    %li= link_to 'Statement of Rights and Responsibilities', '/pages/statements'
