#gtb_section
  #gtb_logo
    %ul
      %li#logo
        = link_to image_tag('icons/logo.png'), "#"
      %li#twitter
        = link_to image_tag('icons/twitter.png'), "#"
      %li#fb
        = link_to image_tag('icons/facebook.png'), "#"
  #gtb_nav
    %ul
      %li 
        = link_to 'Home', '/'
      %li 
        = link_to 'Magazine', magazine_path

