#gtb_section
  #gtb_logo
    %ul
      %li#logo
        = link_to image_tag('icons/logo.png'), root_url
      %li#twitter
        = link_to image_tag('icons/twitter.png'), 'http://twitter.com/#/GayTravelAdvice', :target => '_blank'
      %li#fb
        = link_to image_tag('icons/facebook.png'), 'http://www.Facebook.com/GayTravelBuddy', :target => '_blank'

    - if AppConfig[:google_ads]
      .google_ad
        :javascript
          google_ad_client = "ca-pub-0516633517886131";
          / gtb side bar /
          google_ad_slot = "6246841033";
          google_ad_width = 468;
          google_ad_height = 60;
        %script{:type=>"text/javascript", :src=>"http://pagead2.googlesyndication.com/pagead/show_ads.js"}
  #gtb_nav
    %ul
      %li 
        = link_to 'Home', '/'
      %li 
        = link_to 'Magazine', magazine_path
      %li 
        = link_to 'Places', places_path
      %li 
        = link_to 'Destinations', destinations_path 
