#gtb_section
  #gtb_logo
    %ul
      %li#logo
        = link_to image_tag('icons/logo.png'), root_url
      %li#twitter
        = link_to image_tag('icons/twitter.png'), 'http://twitter.com/#/GayTravelAdvice', :target => '_blank'
      %li#fb
        = link_to image_tag('icons/facebook.png'), 'http://www.Facebook.com/GayTravelBuddy', :target => '_blank'

    - if AppConfig[:google_ads]
      .google_ad
        :plain
          <!-- AdSpeed.com Serving Code 7.9.5 for [Zone] GTB Main 469x60 -->
          <script type="text/javascript">var a=new Date();d=document;n=navigator;s=screen;var q='&tz='+a.getTimezoneOffset()/60 +'&ck='+(n.cookieEnabled?'Y':'N') +'&jv='+(n.javaEnabled()?'Y':'N') +'&scr='+s.width+'x'+s.height+'x'+s.colorDepth +'&z='+Math.random() +'&ref='+escape(d.referrer.substr(0,255)) +'&uri='+escape(d.URL.substr(0,255));document.write('<ifr'+'ame width="469" height="60" src="http://g.adspeed.net/ad.php?do=html&zid=34467&wd=469&ht=60&target=_top%27+q+%27"; frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0"></ifr'+'ame>');</script>
          <noscript><iframe width="469" height="60" src="http://g.adspeed.net/ad.php?do=html&zid=34467&wd=469&ht=60&target=_top"; frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0"><a href="http://g.adspeed.net/ad.php?do=clk&zid=34467&wd=469&ht=60&pair=as"; target="_top"><img style="border:0px;" src="http://g.adspeed.net/ad.php?do=img&zid=34467&wd=469&ht=60&pair=as"; alt="i" width="469" height="60"/></a></iframe>
          </noscript><!-- AdSpeed.com End -->
  #gtb_nav
    %ul
      %li 
        = link_to 'Home', '/'
      %li 
        = link_to 'Magazine', magazine_path
      %li 
        = link_to 'Establishments', places_path
      %li 
        = link_to 'Destinations', destinations_path 
