-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

- if current_user.getting_started?
  #welcome-to-diaspora
    .container{:style => "position: relative;"}
      .right
        = link_to image_tag('close_label.png'), getting_started_completed_path, :id => "gs-skip-x"
      .span-23
        %h1
          = t('aspects.index.welcome_to_diaspora', :name => current_user.first_name)
        %h3
          = t('aspects.index.introduce_yourself')
  %br
  %br
  %br
  %br
  %br

.span-8.leftNavBar
  #home_user_badge
    = owner_image_link
    %h4
      = link_to current_user.first_name, local_or_remote_person_path(current_user.person)

  .section
    %ul.left_nav
      %li
        = link_to t("streams.multi.title"), multi_stream_path, :class => 'home_selector', :rel => 'backbone'

    = render 'aspects/aspect_listings', :stream => @stream

    %ul.left_nav
      %li
        = link_to t('streams.mentions.title'), mentioned_stream_path, :class => 'home_selector', :rel => 'backbone'

    %ul.left_nav
      %li
        = link_to t('streams.comment_stream.title'), commented_stream_path, :class => 'home_selector', :rel => 'backbone'

    %ul.left_nav
      %li
        = link_to t('streams.like_stream.title'), liked_stream_path, :class => 'home_selector', :rel => 'backbone'

    #followed_tags_listing
      = render 'tags/followed_tags_listings'
  
  - if AppConfig[:google_ads]
    .home_ad
      :plain
        <!-- AdSpeed.com Serving Code 7.9.5 for [Zone] GTB Main 300x250 -->
        <script type="text/javascript">var a=new Date();d=document;n=navigator;s=screen;var q='&tz='+a.getTimezoneOffset()/60 +'&ck='+(n.cookieEnabled?'Y':'N') +'&jv='+(n.javaEnabled()?'Y':'N') +'&scr='+s.width+'x'+s.height+'x'+s.colorDepth +'&z='+Math.random() +'&ref='+escape(d.referrer.substr(0,255)) +'&uri='+escape(d.URL.substr(0,255));document.write('<ifr'+'ame width="300" height="250" src="http://g.adspeed.net/ad.php?do=html&zid=34467&wd=300&ht=250&target=_top'+q+'" frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0"></ifr'+'ame>');</script>
        <noscript><iframe width="300" height="250" src="http://g.adspeed.net/ad.php?do=html&zid=34467&wd=300&ht=250&target=_top" frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0"><a href="http://g.adspeed.net/ad.php?do=clk&zid=34467&wd=300&ht=250&pair=as" target="_top"><img style="border:0px;" src="http://g.adspeed.net/ad.php?do=img&zid=34467&wd=300&ht=250&pair=as" alt="i" width="300" height="250"/></a></iframe>
        </noscript><!-- AdSpeed.com End -->


.span-12.append-1
  #aspect_stream_container.stream_container
    = render 'aspects/aspect_stream', :stream => @stream

.span-3.rightBar.last
  #selected_aspect_contacts.section
    .title.no_icon
      %h5.stream_title
        = @stream.title
    .content

  = render 'shared/right_sections'
